<div class="card">
  <img
    [src]="healthcareItem.img"
    [alt]="healthcareItem.title"
    class="card__img"
  />
  <div class="card__body">
    <h2 class="card__body__title">{{ healthcareItem.title }}</h2>
    <p class="card__body__description" [ngClass]="{ expanded: isExpanded }">
      {{ healthcareItem.description }}
    </p>
    <button class="card__body__btn" (click)="toggleDescription()">
      {{ isExpanded ? "Réduire" : "Afficher la suite" }}
    </button>
    <div class="card_body__ctn">
      <p class="card__body__txt">
        <strong>Durée :</strong> {{ healthcareItem.duration }}
      </p>
      @if (selectedOffice) {
        <p class="card__body__txt">
          <strong>Prix :</strong>
          {{ healthcareItem.prices[selectedOffice] || "Non disponible" }}
        </p>
      } @else {
        <ul class="card__body__prices">
          @for (cabinet of getCabinets(healthcareItem.prices); track $index) {
            <li>
              <strong>{{ cabinet }} :</strong>
              {{ healthcareItem.prices[cabinet] }}
            </li>
          }
        </ul>
      }
      <p class="card__body__txt">
        <strong>Audience :</strong> {{ healthcareItem.audience }}
      </p>
    </div>
  </div>
  <app-button [url]="bookingUrl" label="Réserver"></app-button>
</div>
