<nav class="header">
  <ul class="header__list">
    <li class="header__list__logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="Logo" class="header__list__img" />
      </a>
    </li>
    <div class="header__list__nav">
      <li class="header__list__nav__link"><a routerLink="/">Accueil</a></li>
      <!-- <li class="header__list__nav__link">
        <a routerLink="/healthcare">Soins</a>
      </li> -->
      <li class="header__list__nav__link">
        <a routerLink="/about">Qui suis-je</a>
      </li>
      <!-- <li class="header__list__nav__link">
        <a routerLink="/gallery">Galerie photo</a>
      </li>
      <li class="header__list__nav__link">
        <a routerLink="/prices">Tarifs</a>
      </li>
      <li class="header__list__nav__contact">
        <a routerLink="/contact">Contact</a>
      </li> -->
    </div>
  </ul>
</nav>
<app-banner class="top__ctn__banner"></app-banner>
