.header {
  background-color: var(--color-background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 50px;
    &__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 10px;
    }
    &__nav {
      display: flex;
      gap: 50px;
      align-items: center;
      &__link a {
        text-decoration: none;
        font-size: 1.2rem;
        transition: 0.3s;
        color: var(--color-text-dark);
        &:hover {
          color: var(--color-secondary);
        }
      }
      &__contact a {
        font-size: 1.2rem;
        background-color: var(--color-secondary);
        color: var(--color-text);
        padding: 10px 20px;
        border-radius: 10px;
      }
    }
  }
}
