<nav class="header">
  <ul class="header__list">
    <img routerLink="/" src="logo.png" alt="Logo" class="header__list__img">
    <div class="header__list__nav">
      <li class="header__list__nav__link"><a routerLink="/">Accueil</a></li>
      <li class="header__list__nav__link"><a routerLink="/contact">Soins</a></li>
      <li class="header__list__nav__link"><a routerLink="/about">Qui suis-je</a></li>
      <li class="header__list__nav__link"><a routerLink="/products">Galerie photo</a></li>
      <li class="header__list__nav__link"><a routerLink="/services">Tarifs</a></li>
      <li class="header__list__nav__link__contact"><a routerLink="/contact">Contact</a></li>
    </div>
  </ul>
</nav>

