<section class="prenatal-massage">
  <div>
    <h2 class="prenatal-massage__title">Massage pour Femme Enceinte</h2>
    <hr>
  </div>

  <div class="prenatal-massage__block">
    <div class="prenatal-massage__image">
      <img src="pregnant2.jpg" alt="Massage pour femme enceinte">
    </div>
    <div class="prenatal-massage__content">
      <p class="prenatal-massage__txt">
        <strong>Un moment de douceur pour la future maman :</strong> Pendant la grossesse, le corps subit de grands changements.
        Le massage prénatal offre un moment de détente et de sérénité, permettant à la future maman de se reconnecter avec son corps
        tout en offrant un moment de douceur au bébé.
      </p>
      <br>
      <p class="prenatal-massage__txt">
        <strong>Bienfaits pour la mère et le bébé :</strong> Ce massage aide à relâcher les tensions musculaires, améliorer la circulation,
        et réduire le stress. C’est une parenthèse qui procure bien-être et relaxation pour la future maman et son bébé.
      </p>
    </div>
  </div>

  <div class="prenatal-massage__block">
    <div class="prenatal-massage__content">
      <p class="prenatal-massage__txt">
        <strong>Accueil et préparation :</strong> La séance commence par un accueil et un entretien rapide pour connaître les besoins
        de la future maman. Le massage se pratique en position allongée sur le côté, avec des coussins de soutien pour un confort optimal.
      </p>
      <br>
      <p class="prenatal-massage__txt">
        <strong>Techniques et approche douce :</strong> Ce massage utilise des mouvements lents et enveloppants, adaptés aux besoins
        spécifiques des femmes enceintes. Il apporte confort et détente, sans pression excessive, pour favoriser une relaxation complète.
      </p>
    </div>
    <div class="prenatal-massage__image">
      <img src="pregnant3.jpg" alt="Bienfaits du massage prénatal">
    </div>
  </div>
</section>
