<section class="about">
  <h2 class="about__title">Jean Luc Laffuge - Parcours et Passion</h2>
  <p class="about__txt">
    Né en 1962 et résident de Saint Léger Triey en Côte-d’Or, je suis un passionné de sport et de bien-être, avec une carrière riche dans le monde agricole avant de me tourner vers les soins énergétiques et les massages holistiques.
  </p>

  <h3 class="about__subtitle">Mon Parcours Sportif</h3>
  <p class="about__txt">
    Le sport a toujours été au cœur de mon quotidien. Après une longue période comme joueur, entraîneur et dirigeant de football, j’ai découvert la course à pied au sein du club des CROCO à Fontaine lès Dijon. Ce sport m’a permis de réaliser des trails de longue distance, tels que les Templiers et la Diagonale des Fous à la Réunion, ainsi que de guider des groupes de randonneurs dans la découverte de la nature locale.
  </p>

  <h3 class="about__subtitle">Un Nouveau Départ</h3>
  <p class="about__txt">
    Après 36 années dans le secteur agricole comme cogérant d’un GAEC, j’ai choisi en 2019 de redéfinir mon parcours. Mon intérêt pour le bien-être et les soins énergétiques m’a conduit à suivre une formation auprès de Lorin Lambert, révélant une capacité latente pour le soin énergétique.
  </p>

  <h3 class="about__subtitle">Lancement de Mon Cabinet</h3>
  <p class="about__txt">
    En janvier 2020, j’ai lancé mon activité en soins énergétiques et, encouragé par les retours positifs de mes premiers clients, j’ai élargi mes compétences en me formant aux massages holistiques. Depuis, j’accompagne chaque semaine de nombreuses personnes, leur offrant détente et revitalisation.
  </p>
  <div class="about__social">
    <a
      [href]="facebookUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="about__social__btn"
      >Facebook
    </a>
    <a
      [href]="googleUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="about__social__btn"
      >Avis Google
    </a>
  </div>

  <h3 class="about__subtitle">Engagement pour l'Amélioration Continue</h3>
  <p class="about__txt">
    En parallèle de mon activité, j’ai constitué un groupe de relaxation et de méditation collective en 2020, favorisant un espace de bien-être et d’apaisement.
  </p>

  <h3 class="about__subtitle">Remerciements</h3>
  <ul class="about__list">
    <li>À ma famille, pour leur soutien constant.</li>
    <li>À Lorin Lambert, pour la formation en soins énergétiques.</li>
    <li>Aux amis et premiers clients qui ont contribué au lancement de mon cabinet.</li>
    <li>Aux membres du club de course à pied des CROCO pour leur soutien.</li>
  </ul>

  <p class="about__txt">
    Pour toute information sur mes services en soin énergétique et massage holistique, n’hésitez pas à me contacter. Merci d’avoir pris le temps de découvrir mon parcours.
  </p>
</section>
