.healthcare {
  display: flex;
  align-items: center;
  flex-direction: column;
  hr {
    width: 20%;
    margin-bottom: 20px;
  }
  &__title {
    width: fit-content;
    color: var(--color-secondary);
    font-size: 2rem;
    margin: 20px auto;
    font-weight: 700;
  }
  &__others {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    &:hover {
      background-color: var(--color-secondary);
      transform: scale(1.02);
    }
  }
}

/* Responsive Rules */
@media (max-width: 1400px) {
  .healthcare {
    &__content {
      gap: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .healthcare {
    &__others {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .healthcare {
    &__title {
      margin: 10px auto;
    }
  }
}

@media (max-width: 480px) {
  .healthcare {
    &__title {
      font-size: 1.5rem;
    }
    &__others {
      font-size: 1rem;
      margin: 20px auto 50px;
    }
  }
}
