.healthcare {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    width: fit-content;
    color: var(--color-secondary);
    font-size: 2rem;
    margin: 20px auto ;
    font-weight: 700;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 90%;
    margin: 20px auto 100px;
    a {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.02);
        transition: all 0.3s;
      }
    }
  }
}
hr {
  width: 20%;
  margin-bottom: 20px;
}
