:host {
  position: relative;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: var(--color-primary-button);
  color: var(--color-text);
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: var(--color-primary-button-hover);
  }
}

/* Responsive Rules */
@media screen and (max-width: 1024px) {
  .button {
    bottom: 50px;
    right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .button {
    bottom: 30px;
  }
}

@media screen and (max-width: 370px) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0 auto 20px;
  }
}
