<section class="energy-therapy">
  <div>
    <h2 class="energy-therapy__title">Qu'est-ce que les soins énergétiques ?</h2>
    <hr>
  </div>

  <div class="energy-therapy__block">
    <div class="energy-therapy__image">
      <img src="zen.jpg" alt="Illustration des soins énergétiques">
    </div>
    <div class="energy-therapy__content">
      <p class="energy-therapy__txt">
        Les soins énergétiques sont une thérapie qui procure de nombreux bienfaits. <br>
        Ils visent à purifier le corps et l’esprit, augmenter le taux vibratoire, et harmoniser les chakras.<br>
        Les thérapies énergétiques utilisent « l’énergie » pour guérir physiquement, émotionnellement et spirituellement. <br>
        Elles reposent sur le concept que l’énergie imprègne tous les êtres vivants et peut être transmise pour équilibrer et revitaliser.<br>
        <br>
      </p>
      <p class="energy-therapy__txt">
        Les soins énergétiques se concentrent sur les champs énergétiques autour du corps et incluent des sources d’énergie pour influencer la santé. <br>
        Lorsque l’énergie est fluide et équilibrée, nous sommes en bonne santé, mais un blocage peut créer un déséquilibre.
      </p>
    </div>
  </div>

  <!-- Deuxième bloc avec image à droite -->
  <div class="energy-therapy__block">
    <div class="energy-therapy__content">
      <h3 class="energy-therapy__subtitle">A quoi ça sert et pour qui ?</h3>
      <p class="energy-therapy__txt">
        Le soin énergétique est bénéfique pour tous : adolescents, jeunes parents, personnes en milieu de vie ou en âge avancé. <br>
        Il permet de gérer les émotions, le stress, et d’améliorer la vitalité.<br>
        C’est une thérapie qui harmonise les chakras, libère des blocages et revitalise l’énergie vitale.<br>
        <br>
      </p>
      <p class="energy-therapy__txt">
        Lors d'une séance, le praticien mesure l’énergie des chakras et utilise différentes positions de mains pour rééquilibrer les énergies.<br>
        Cette pratique aide à calmer l’esprit, libérer les tensions, et apporter une paix intérieure.
      </p>
    </div>
    <div class="energy-therapy__image">
      <img src="zen2.jpg" alt="Déroulement d'une séance énergétique">
    </div>
  </div>
</section>
