<section class="pregnant">
  <div class="pregnant__content">
    <h2 class="pregnant__content__title">Femme enceinte</h2>
    <img src="pregnant.jpg" alt="Massage holistique" class="pregnant__content__img">
    <!-- <p class="pregnant__content__txt">
      Pendant la grossesse, la future maman traverse de grands bouleversements physiques, physiologiques et émotionnels.
    </p>
    <p class="pregnant__content__txt">
      Le massage prénatal l’aide à accompagner les changements de son corps de manière harmonieuse. <br>
      Il offre un moment de douceur et de sérénité pour elle et son bébé. <br>
      Véritable moment de « cocooning », il augmente son bien-être et répond au besoin naturel de prendre soin de soi et de se sentir maternée.<br>
      En renforçant le lien entre la mère et l’enfant, le massage contribue également à l’épanouissement affectif du bébé.
    </p>
    <p class="pregnant__content__txt">
      Le praticien peut inviter l’autre parent à être présent et lui enseigner quelques gestes qui soulageront la future maman
      et prolongeront les effets bénéfiques du massage entre les séances.
    </p>
    <p class="pregnant__content__txt">
      Parmi ses nombreux bienfaits, le massage prénatal permet de relâcher les tensions musculaires,
      d’améliorer la qualité du sommeil et de réduire les gonflements des mains et des pieds. <br>
      Il soulage également les tensions dans le bas du dos, la nuque et les jambes, tout en diminuant le stress et en favorisant la relaxation.
    </p> -->
  </div>
</section>
