.about {
  padding: 2rem;
  max-width: 1000px;
  margin: 100px auto 50px;
  background-color: var(--color-tertiary);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &__title {
    font-size: 2.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-align: center;
  }
  &__subtitle {
    font-size: 1.8rem;
    color: var(--color-secondary);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
  }
  &__txt {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
    color: var(--color-text);
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 5rem;
    a {
      margin: 0 0.5rem;
      font-size: 1.5rem;
      background-color: var(--color-primary);
      color: var(--color-text);
      transition: all 0.3s;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      &:hover {
        background-color: var(--color-secondary);
        transform: scale(1.02);
      }
    }
  }
  &__list {
    padding-left: 1.5rem;
    list-style-type: disc;
    li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: var(--color-text);
    }

    &__link {
      color: var(--color-secondary);
      text-decoration: none;
      &:hover {
        color: var(--color-text-dark);
      }
    }
  }
}

/* Responsive Rules */
@media screen and (max-width: 1024px) {
  .about {
    max-width: none;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 100px auto 25px;
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 1.5rem;
    }
    &__txt {
      font-size: 0.9rem;
    }
    &__social {
      gap: 1rem;
    }
    &__list {
      padding-left: 1rem;
      li {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    &__title {
      font-size: 1.5rem;
      margin: 50px auto 10px;
    }
    &__subtitle {
      font-size: 1.2rem;
    }
    &__txt {
      font-size: 0.8rem;
    }
    &__social {
      gap: 0.5rem;
      a {
        margin: 0.5rem auto;
        font-size: 1rem;
      }
    }
    &__list {
      padding-left: 0.5rem;
      li {
        font-size: 0.8rem;
      }
    }
  }
}
