<section class="main-banner">
  <img
    src="assets/accessories.webp"
    alt="Ensemble d'accessoires pour le bien-être"
    class="main-banner__img"
  />
  <div class="main-banner__content">
    <p class="main-banner__content__name">
      Jean-Luc Laffuge - Énergéticien & Magnétiseur
    </p>
    <h1 class="main-banner__content__title">
      Il est temps de prendre soin de vous
    </h1>
    <p class="main-banner__content__txt">
      Massage holistique, Bien-être & Soin énergétique
    </p>
    <div class="main-banner__button">
      <a
        class="main-banner__button__meet"
        [href]="bookingUrl"
        target="_blank"
        rel="noopener noreferrer"
        (click)="onBookingClick()"
      >
        Prendre RDV en ligne
      </a>
      <button class="main-banner__button__more" routerLink="/session">
        Déroulé d'une séance
      </button>
    </div>
  </div>
</section>
