@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --color-primary: #8d6d51;
  --color-secondary: #3d2d23;
  --color-text: #ffffff;
  --color-text-dark: #000000;
  --color-background: #c5b9a6;
  --color-banner: #a08d73;
  --color-testimonials: #6f705d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h2,
h3 {
  font-family: "Roboto Slab", serif;
}

p {
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text);
}
