<section class="about">
  <div class="about__img">
    <img
      src="assets/massage_tattooed_woman.jpg"
      alt="Une femme se fait masser"
    />
    <span class="about__img__overlay"></span>
  </div>
  <div class="about__content">
    <div class="about__content__round">
      <div class="about__content__round__overlay"></div>
      <img
        src="assets/profiles/profile_picture_sweet.png"
        alt="Jean-Luc LAFFUGE"
        class="about__content__round__img"
      />
    </div>
    <div class="about__content__flex">
      <h2 class="about__content__flex__name">Jean-Luc LAFFUGE</h2>
      <hr />
      <p class="about__content__flex__txt">
        Né en 1962, je suis marié à Jocelyne et père de deux enfants, Romain et
        Rémy. <br />
        Nous avons également la chance d’avoir deux merveilleux petits-enfants,
        Leyna et Lorys.<br />
        Nous vivons à Saint-Léger-Triey, un charmant village de la Côte-d’Or.<br />
      </p>
      <p class="about__content__flex__txt">
        Depuis toujours passionné par le sport, j’ai d’abord pratiqué le
        football, puis suis devenu entraîneur et dirigeant.<br />
        À l’âge de 45 ans, j’ai découvert une nouvelle passion pour la course à
        pied, que je pratique au sein du club des CROCO de
        Fontaine-lès-Dijon.<br />
        Cette passion m’a mené à participer à des trails de longue distance,
        tels que les Templiers, le Trail de Bourbon et la célèbre Diagonale des
        Fous à La Réunion.<br />
      </p>
      <p class="about__content__flex__txt">
        J’apprécie également la randonnée et j’aime organiser des sorties pour
        faire découvrir la nature et la région autour de chez nous.
      </p>
      <!-- <button class="about__content__flex__btn">En savoir plus</button> -->
    </div>
  </div>
</section>
