<section class="massages">
  <img src="shoulder_massage.jpg" alt="Massage holistique" class="massages__img">
  <div class="massages__content">
    <h2 class="massages__content__title">Massage holistique & Soin énergétique</h2>
    <hr>
    <p class="massages__content__txt">
      Le Massage Holistique aborde la personne dans sa globalité,
      en prenant en compte ses différentes dimensions : physique, sensorielle, psychique, émotionnelle, et même énergétique et spirituelle.
    </p>
    <p class="massages__content__txt">
      Ce massage est avant tout un soin unifiant, enveloppant, relaxant et énergisant. <br>
      Il comprend une grande variété de mouvements précis, tels que des balancements et des étirements, des effleurages et des pétrissages.<br>
      Ces gestes sont appliqués de manière légère ou profonde, avec des mouvements courts ou longs, lents ou rapides, localisés ou globaux.<br>
      Chaque zone du corps reçoit une attention spécifique avant d'être réunifiée à l'ensemble du corps.<br>
    </p>
    <p class="massages__content__txt">
      Dans ce massage, la qualité du toucher est primordiale, car elle constitue un mode de communication non verbale essentiel entre le praticien et le receveur.
    </p>
    <button class="massages__content__btn">En savoir plus</button>
  </div>
</section>
